<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<head>

    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center  ">
        <div class="card w-50 align-self-center text-center">
            <div>
                <h1 class="position-relative align-self-center">Réinitialisation de mot de passe</h1>

                <div data-th-if="${step.equals('request')}">
                    <p class="align-self-center">Saisissez l'adresse e-mail associée à votre compte.</p>
                    <form data-th-action="@{/user/forgottenPassword}" method="post" >
                        <div class="form-group">
                            <label name="email" > Email </label>
                            <input type="text" class="form-control w-50 mx-auto" name="email">
                        </div>
                        <button type="submit" data-th-text="Valider" class="btn btn-primary">
                        </button>
                    </form>
                </div>

                <div data-th-if="${step.equals('accepted')}">
                    <p>Si cette adresse email existe, vous allez recevoir un email contenant un lien de récupération</p>
                </div>

                <div data-th-if="${step.equals('expired')}">
                    <p>Lien de récupération expiré</p>
                </div>

                <div data-th-if="${step.equals('resetPasswordForm')}">
                    <form data-th-action="@{/user/forgottenPassword/reset}" method="post" >
                        <div class="form-group">
                            <label name="password" > Votre nouveau mot de passe : </label>
                            <input type="password" class="form-control w-50 mx-auto" name="password">
                        </div>
                        <input name="token" type="hidden" data-th-value="${token}" />
                        <button type="submit" data-th-text="Valider" class="btn btn-primary">
                        </button>
                    </form>
                </div>

                <div data-th-if="${step.equals('done')}">
                    <p>Votre mot de passe a bien été réinitialisé</p>
                </div>

            </div>

        </div>
    </div>






</body>
</html>