<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<body>
<div class="container">
    <div class="row" data-th-each="product: ${productLst}">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" data-th-text="${product.name}"></h5>
                    <p class="card-text">Produit</p>
                    <a href="#" class="btn btn-primary">Voir les enchères</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>