<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<body>
<div class="container">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1 class="position-relative">Mon compte</h1>
    </div>
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card shadow p-4">
            <div class="image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary"><img data-th-src="@{/images/user.png}" height="100"
                                                       width="100"/>
                </button>
                <span class="name mt-3" data-th-text="${user.lastName} + ' ' + ${user.firstName}"></span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"><span class="idd1"> <a
                        style="text-decoration: none; color: black"
                        th:href="'mailto:' + ${user.email}"
                        data-th-text="${user.email}"
                        class="social-link"></a></span>
                    <span><i class="fa fa-copy"></i></span></div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"><span class="number"><span
                        class="follow" data-th-text="${user.nbSales} + ' : ventes au total'"></span></span></div>
                <div class="text mt-3">
                    <div class=" px-2 rounded mt-4 date">
                        <a class=" px-2 rounded mt-4 date" th:href="@{/user/editAccount}">
                            <button class="button-50"> Edit profile</button>
                        </a>
                    </div>
                </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"><span><i
                        class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                        class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span></div>
                <div class=" px-2 rounded mt-4 date "><span class="join"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:if="${productLst.isEmpty()}"><p style="text-align: center">Vous n'avez pas de ventes en cours</p></div>
        <div class="col-lg-4 mb-4" data-th-each="product: ${productLst}">
            <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                <div class="card shadow p-4">
                    <div class="image d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-secondary"><img class="image"
                                                               data-th-src="|/images/upload/${product.pathToImg}|"
                                                               height="100"
                                                               width="100"/>
                        </button>
                        <span class="name mt-3" data-th-text="${product.name}"></span>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"><span
                                class="idd1"> <a
                                style="text-decoration: none; color: black"
                                class="social-link"></a></span>
                            <span><i class="fa fa-copy"></i></span></div>
                        <div th:if="${@offerService.getActualMaxValue(product.id)} != 0">
                            <div class="d-flex flex-row justify-content-center align-items-center mt-3"><span
                                    data-th-text="${@offerService.getActualMaxValue(product.id)}"
                                    class="number"><span
                                    class="follow">Followers</span></span></div>
                        </div>
                        <div th:unless="${@offerService.getActualMaxValue(product.id)} != 0">
                            <div class="d-flex flex-row justify-content-center align-items-center mt-3"><span
                                    data-th-text="${product.startingValue}" class="number"><span
                                    class="follow">Followers</span>
                            </span></div>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <p class="card-text">Veuillez vous authentifier pour accèder aux ventes</p>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <div class=" d-flex mt-2">
                                <button th:href="@{/product/get?id=} + ${product.id}" class="btn1 btn-dark">Détails
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text mt-3">
                    </div>

                    <div class=" px-2 rounded mt-4 date"><span class="join">
                        <p data-th-text="${product.description}"></p>
                        <span
                                th:text="'Date de fin : ' + ${#temporals.format(product.endDate, 'EEEE')} + ' ' + ${#temporals.format(product.endDate, 'dd')} + ' ' + ${#temporals.format(product.endDate, 'MMMM yyyy')} + ' ' + ${#temporals.format(product.endDate, 'HH:mm')}">
                    </span>
                    </span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/frag-script}"></div>
</body>
</html>