<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>

<body>
<div class="container">
    <div class="card">
        <img width="286" height="180" data-th-src="|/images/upload/${product.pathToImg}|"
             class="card-img-top object-fit-sm-cover" alt="...">
        <div class="card-body">
            <h5 class="card-title" data-th-text="${product.name}"></h5>
            <p class="card-text" data-th-text="${product.description}"></p>
            <button class="btn btn-outline-dark"
                    data-th-text="'Valeur de départ : ' + ${product.startingValue}"></button>

            <p th:text="'Date de fin : ' + ${#temporals.format(product.endDate, 'EEEE')} + ' ' + ${#temporals.format(product.endDate, 'dd')} + ' ' + ${#temporals.format(product.endDate, 'MMMM yyyy')} + ' ' + ${#temporals.format(product.endDate, 'HH:mm')}"></p>
            <a style="text-decoration: none;  color:black" th:href="@{/user/get?id=} + ${product.id}">
                Vendu par :
                <button class="btn-sm btn btn-outline-dark" data-th-text="${product.getSeller().getEmail()}">a</button>
            </a>
            <div class="col">
                <a data-th-text="'Valeur de départ : ' + ${product.startingValue}"></a>
            </div>
            <div sec:authorize="isAnonymous()">
                <p class="card-text">Veuillez vous authentifier pour accèder aux enchère</p>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form data-th-action="@{/product/bid?id=} + ${product.id}" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" data-th-text="${walletAccount} + '$'"></span>
                        </div>
                        <input type="text" class="form-control" name="value" placeholder="Montant de votre enchère" required>
                    </div>
                    <div th:if="${actualOffer}">
                        <div class="row">
                            <div class="col">
                                <a data-th-text="'Meilleur Offreur :' + ${actualOffer.getUser().getEmail()}"></a>
                            </div>
                            <div class="col">
                                <a data-th-text="'Valeur actuelle :' + ${actualOffer.getValue()}"></a>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${actualOffer}">
                        <div class="row">
                            <div class="col">
                                <a data-th-text="'Actuellement pas d\'offres'"></a>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Enchérir">
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/frag-script}"></div>
</body>
</html>