<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="card">
        <h5 class="card-header">Modifier profil</h5>
        <form data-th-replace="~{fragments/frag-userWithAddressFrom :: frag-userWithAddressForm(userWithAddressDTO, @{/user/editAccount}, true)}">
        </form>
    </div>




</div>
<div th:replace="~{fragments/frag-script}"></div>
</body>
</html>