<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<body>
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" data-th-text="${user}"></h5>
           <!-- <p class="card-text" data-th-text="${user.firstName}"></p>
            <p class="card-text" data-th-text="${user.lastName}"></p>
            <p class="card-text" data-th-text="${user.email}"></p>
            <p class="card-text" data-th-text="${user.phone_number}"></p>
            <td data-th-text="${user.user_address.zip_code}" />
            <td data-th-text="${user.user_address.nb_street}" />
            <td data-th-text="${user.user_address.street_name}" />-->
        </div>
    </div>
</body>
</html>