<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/frag-head}"></div>
<div th:replace="~{fragments/frag-navbar}"></div>
<body>
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" data-th-text="${user.pseudo}"></h5>
            <p class="card-text" data-th-text="${user.firstName}"></p>
            <p class="card-text" data-th-text="${user.lastName}"></p>
            <p class="card-text" data-th-text="${user.email}"></p>
            <p class="card-text" data-th-text="${user.getPhoneNumber}"></p>
            <td data-th-text="${user.getUserAddress.zip_code}" />
            <td data-th-text="${user.getUserAddress.nb_street}" />
            <td data-th-text="${user.getUserAddress.street_name}" />
        </div>
    </div>
</body>
</html>